force-app/main/default/flows/PRJ_Timeline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>528</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>timelineitem_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>timelineitem_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>only_due_date_is_defined</name>
        <label>only due date is defined</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>css_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>owner_picture_avatar</name>
        <label>owner picture avatar</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>photo_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_timelineitems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_style_to_resolved</name>
        <label>set style to resolved</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemStyle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>itemResolved_css</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemContent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;nbsp&amp;nbsp ✅ &amp;nbsp&amp;nbsp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_timelineitems</name>
        <label>set timelineitems</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemContent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oo_task.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemStyle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>itemDefault_css</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>start_date_is_missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_to_overdue</name>
        <label>set to overdue</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemStyle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>itemOverdue_css</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timelineitem_so.itemContent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;nbsp&amp;nbsp ⚠️ &amp;nbsp&amp;nbsp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>css_type</name>
        <label>css type</label>
        <locationX>528</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>add_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oo_task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_style_to_resolved</targetReference>
            </connector>
            <label>resolved</label>
        </rules>
        <rules>
            <name>overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oo_task.ActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>today_fr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_to_overdue</targetReference>
            </connector>
            <label>overdue</label>
        </rules>
    </decisions>
    <decisions>
        <name>start_date_is_missing</name>
        <label>start date is missing</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>css_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>timelineitem_so.itemStart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>only_due_date_is_defined</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>end_fr</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!oo_task.ActivityDate})) + &quot;-&quot; + TEXT(MONTH({!oo_task.ActivityDate})) + &quot;-&quot; + TEXT(DAY({!oo_task.ActivityDate}))</expression>
    </formulas>
    <formulas>
        <name>photo_fr</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;img src=&quot;&apos;+{!oo_task.Owner:User.Small_Photo_Link__c}+&apos;&quot; height=&quot;20px&quot; width=&quot;20px&quot;&gt;&amp;nbsp&amp;nbsp&apos;</expression>
    </formulas>
    <formulas>
        <name>start_fr</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!oo_task.Start_Date__c}),null,TEXT(YEAR({!oo_task.Start_Date__c})) + &quot;-&quot; + TEXT(MONTH({!oo_task.Start_Date__c})) + &quot;-&quot; + TEXT(DAY({!oo_task.Start_Date__c}))
)</expression>
    </formulas>
    <formulas>
        <name>today_fr</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>PRJ - Timeline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRJ - Timeline</label>
    <loops>
        <name>oo_task</name>
        <label>oo task</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>task_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>owner_picture_avatar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Timeline_scr</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>task_col</name>
        <label>get all tasks defined for project</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oo_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Timeline_scr</name>
        <label>Timeline_scr</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>timeline_sc</name>
            <extensionName>c:timeline</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>timelineItem_col</name>
                <value>
                    <elementReference>timelineitem_col</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>task_col</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>itemDefault_css</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>background-color:#F3E8FF;border-color:#9333EA;color:#9333EA;</stringValue>
        </value>
    </variables>
    <variables>
        <name>itemOverdue_css</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>background-color:#FEE2E2;border-color:#B91C1C;color:#B91C1C;</stringValue>
        </value>
    </variables>
    <variables>
        <name>itemResolved_css</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>background-color:#E3FCEF;border-color:#006645;color:#006645;</stringValue>
        </value>
    </variables>
    <variables>
        <name>photoUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timelineitem_col</name>
        <apexClass>TimelineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timelineitem_so</name>
        <apexClass>TimelineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
